@import "tailwindcss";

:not(input):not(textarea) {
  -webkit-user-select: none;
  user-select: none;
}

.toast-container {
  > div > div {
    padding: 12px 16px;
    background-color: #212121;
    color: #fffffff2;
    border-radius: 8px;
  }
}

.zaui-sheet {
  .zaui-sheet-content {
    min-height: unset;
  }
}

:root {
  --footer-from: #f0e8d9;
  --footer-to: #ffffff;
  --brand-primary: #1e293b; /* ví dụ thêm màu chủ đạo */
}

/* Ví dụ theme tối */
:root.dark {
  --footer-from: #e2e8f0;
  --footer-to: #ffffff;
  --brand-primary: #0f172a;
}
